## Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:

* если источник traffic_source равен yandex или google, то в source_type ставится organic
* для источников paid и email из России - ставим ad
* для источников paid и email не из России - ставим other
* все остальные варианты берем из traffic_source без изменений

In [2]:
import pandas as pd

In [3]:
log = pd.read_csv('visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [6]:
log['source_type'] = log.traffic_source
log.loc[log.traffic_source.isin(['yandex', 'google']), 'source_type'] = 'organic'
log.loc[(log.region == 'Russia') & log.traffic_source.isin(['email', 'paid'])] = 'ad'
log.loc[(log.region != 'Russia') & log.traffic_source.isin(['email', 'paid']), 'source_type'] = 'other'

In [7]:
log.groupby('source_type').aggregate(['count'])

            timestamp visit_id   url region user_id traffic_source
                count    count count  count   count          count
source_type
ad               3790     3790  3790   3790    3790           3790
direct           7013     7013  7013   7013    7013           7013
organic          5407     5407  5407   5407    5407           5407
other            2728     2728  2728   2728    2728           2728

### Задание 2

В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:
1.	Прочитайте содержимое файла с датафрейм
2.	Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном

In [21]:
df = pd.read_csv('URLs.txt')
df.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [27]:
result = df.loc[df.url.str.contains('[1-9]{8}-', regex = True)]

In [28]:
result.head()

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
10  /middleeast/36131117-divizion-s-400-ne-zametil...
13  /travel/36194479-v-sheremetevo-passazhiry-ustr...
14  /politics/35638742-nesolidno-mariya-zaharova-s...

### Задание 3

В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [9]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})

In [10]:
from pymystem3 import Mystem

In [12]:
data.keyword

0      курс гривны к рублю
1          доллары в рубли
2    100 долларов в рублях
3               курс рубля
Name: keyword, dtype: object

In [19]:
data['lemmas'] = data.keyword.apply(lambda x: ' '.join(Mystem().lemmatize(x)))

In [20]:
data

                 keyword   shows                        lemmas
0    курс гривны к рублю  125076  курс   гривна   к   рубль \n
1        доллары в рубли  114173         доллар   в   рубль \n
2  100 долларов в рублях   97534   100   доллар   в   рубль \n
3             курс рубля   53546               курс   рубль \n